.paper {
    background-size: cover;
    background: url("./earth map.jpeg") no-repeat;
    //-webkit-background-size: cover;
    //-moz-background-size: cover;
    //-o-background-size: cover;
    background-size: contain;
}
