.app-logo {
  height: 15vmin;
  width: 15vmin;
  margin: auto;
  pointer-events: none;
}


@keyframes app-logo-spin {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 4s linear;
  }
}
